body {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 300;
    background: #202020;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/image/newyork.jpg');
    padding: 10vw;
    padding-top: 5vw;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7vw;
    color: white;
}

a{
    color: #151515;
    text-decoration: none;
}
 
a:hover {
    color: #303030;
    text-decoration: none;
}
 
a:link{
    color: #151515;
    text-decoration: none;
}
  
a:active {
     color: #303030;
     text-decoration: none;
}
 
a:visited {
    color: #303030;
    text-decoration: none;
}

.hi h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
    color: white;
    z-index: -1;
}

.hi p{
    z-index: 1;
    position: absolute;
    font-size: 1.7vw;
    margin-top: -4.5vw;
    margin-left: 2vw;
    letter-spacing: 0.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#hitransparent h1 {
    color: rgba(255, 255, 255, 0.2);
}
  
.accordion {
    max-width: 560px;
    margin: 0 auto 100px;
    border-top: 1px solid #eee;
}
.accordion li {
    border-bottom: 1px solid #eee;
    position: relative;
    color: #fff;
}
.accordion li p {
    display: none;
    padding: 10px 25px 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.accordion a {
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 1.2rem;
    user-select: none;
    color: #fff;
}
.accordion a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
}
.accordion p {
    font-size: 1rem;
    line-height: 2;
    padding: 10px;
    color: #fff;
}

a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
}

#buttonID {
    font-family: 'Oswald', sans-serif;
    background: #202020;
    color: white;
}

.button_class {
    color: #bbb !important;
    font-family: 'Oswald', sans-serif;
    text-decoration: none; 
}

.noback {
    background: none;
    border: none;
}

#submit {
    font-family: 'Oswald', sans-serif;
    background: #202020;
    color: white;
}

table, th {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
    border: 1.5px solid white;
    border-collapse: collapse;
    color: white;
}
td {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    border: 1px solid #ccc;
    background-color: white;
    border-collapse: collapse;
    color: #151515;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th, td, tr {
    padding: 1vw;
}

#number {
    width: 1vw;
}

#title {
    width: 24vw;
}

#author {
    width: 24vw;
}

#publisher {
    width: 24vw;
}

#searchbox {
    font-family: 'Oswald', sans-serif;
}

.regform input{
    margin-bottom: 0.5vw;
}

.messages p {
    font-size: 1rem;
    color: #aaa;
    line-height: 2vw;
}

.messages {
    margin-left: -1vw;
}