body {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 300;
    background: #202020;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/image/newyork2.jpg');
}

.hi {
    margin: 10vw;
    margin-top: 5vw;
    margin-right: 0vw;
    margin-bottom: 5vw;
}

.hi h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
    color: black;
    z-index: -1;
}

.hi p{
    z-index: 1;
    position: absolute;
    font-size: 1.7vw;
    margin-top: -4.5vw;
    margin-left: 2vw;
    letter-spacing: 0.5em;
    color: black;
    font-family: 'Oswald', sans-serif;
}

#hitransparent h1 {
    color: rgba(0, 0, 0, 0.2);
}
  
.accordion {
    max-width: 560px;
    margin: 0 auto 100px;
    border-top: 1px solid #444;
}
.accordion li {
    border-bottom: 1px solid #444;
    position: relative;
    color: black;
}
.accordion li p {
    display: none;
    padding: 10px 25px 30px;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.accordion a {
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 1.2rem;
    user-select: none;
    color: black;
}
.accordion a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black;
}
.accordion p {
    font-size: 1rem;
    line-height: 2;
    padding: 10px;
    color: black;
}

a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black;
}

#buttonID {
    font-family: 'Oswald', sans-serif;
}