<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <link rel='stylesheet'  type="text/css" href="{% static 'accounts/style2.css' %}" id="theme_css"> -->
    <link rel='stylesheet' type="text/css" id = "theme" href="{% static 'css/dark.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald&display=swap" rel="stylesheet">

    <link 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.js" 
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <title>Story 7</title>
</head>

<body>

    <div class = "hi">
        <h1 name="hicolor">HELLO AGAIN</h1>
        <div id="hitransparent">
            <h1>CLICK ON ITEMS BELOW</h1> 
        </div>
        <p>i've spent 4 hours copying some code</p>
        <div>
            <button type="button" name="button" id="buttonID"> Change theme </button>
        </div>
    </div>

        
    <ul class="accordion">
        
        <li>
            <a>About Me</a>
            <p>I’m a full-time student with a high passion in web design and front-end development. I’m currently studying Information System in Faculty of Computer Science of University of Indonesia. I have confidence in giving a reliable service to those who’s in need of a clean looking website. Please kindly look around the page to see if I’m a good candidate for your next project.
            </p>
        </li>
        <li>
            <a>Activity</a>
            <p>College<br>
                PMB 2019<br>
                BEM Fasilkom 2019<br>
                Music
            </p>
        </li>

        <li>
            <a>Hobby</a>
            <p>Graphic Design<br>
                Front-end Development<br>
                UI/UX<br>
                Beatmaking
        </li>

        <li>
            <a>Achievement</a>
            <p>Nothing<br>
                404<br>
        </li>
    </ul>

    <script src="{% static 'script/script.js' %}">
    </script>

</body>
</html>
