body {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 300;
    background: #202020;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/image/newyork.jpg');
    padding: 10vw;
    padding-top: 5vw;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7vw;
    color: white;
}

a{
   color: #151515;
    text-decoration: none;
}

a:hover {
    color: #303030;
    text-decoration: none;
}

a:link{
    color: #151515;
     text-decoration: none;
 }
 
 a:active {
     color: #303030;
     text-decoration: none;
 }

 a:visited {
    color: #303030;
    text-decoration: none;
}

.left {
    width: 50%;
    height: auto;
    padding-right: 2vw;
    flex-direction: column; 
    /* background-color: aqua; */
}

.right {
    width: 50%;
    height: auto;
    flex-direction: column; 
}


.hi h1, h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5vw;
    color: white;
    z-index: -1;
}

.hi p{
    z-index: 1;
    position: absolute;
    font-size: 1.7vw;
    margin-top: -4.5vw;
    margin-left: 2vw;
    letter-spacing: 0.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#hitransparent h1 {
    color: rgba(255, 255, 255, 0.2);
}

#submit {
    font-family: 'Oswald', sans-serif;
    background: #202020;
    color: white;
}

table, th {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
    border: 1.5px solid white;
    border-collapse: collapse;
    color: white;
}
td {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    border: 1px solid #ccc;
    background-color: white;
    border-collapse: collapse;
    color: #151515;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th, td, tr {
    padding: 1vw;
}

#number {
    width: 1vw;
}

#title {
    width: 24vw;
}

#author {
    width: 24vw;
}

#publisher {
    width: 24vw;
}

#searchbox {
    font-family: 'Oswald', sans-serif;
}
