{% extends "story9/base.html" %}

{% block title %}Story 9 | Login{% endblock %}

{% block content %}
    <div class = "hi">
        <h1 name="hicolor">HEY THERE</h1>
        {% if user.is_authenticated %}
        <div id="hitransparent">
            <h1 id="username_show">{{ user.username }}</h1> 
            <a class="button_class noback" name="loggy" href="{% url 'story9app:logout' %}">Log Out</a>
        </div>
        {% else %}
        <div id="hitransparent">
            <h1 id="username_show">STRANGER</h1>
        </div>
        <p>idk who the f you are</p>
        <a class="button_class noback" href="{% url 'story9app:login' %}">Log In</a> 
        {% endif %}
    </div>
{% endblock %}