{% extends "story9/base.html" %}

{% block content %}
<body>
    <div class = "hi">
        <div id="hitransparent">
            <h1>WELCOME</h1> 
        </div>
        <p>remind me who you are</p>
    </div>

    <div style = "height: 2vw"></div>

    <div class = "column">
        <form class = "regform" action="login" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username or Email"><br>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <div style = "height: 1vw"></div>
            <input id="buttonID" type="Submit" value="Login">
            <!-- {{ form }}
            <input type="Submit" value="Sign Up"> -->
            <a class="button_class noback" id="register" href="{% url 'story9app:register' %}">I don't have an account</a>
        </form>
        
    </div>

    <div class = "messages">
        <p>
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
        </p>
    </div>
</body>
{% endblock %}