{% extends "story9/base.html" %}

{% block title %}Story 9 | Register{% endblock %}

{% block content %}
<body>
    <div class = "hi">
        <div id="hitransparent">
            <h1>WELCOME</h1> 
        </div>
        <p>let's get to know eachother</p>
    </div>

    <div style = "height: 2vw"></div>

    <div class = "column">
        <form class = "regform" action="register" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="User Name"><br>
            <input type="email" name="email" id="email" placeholder="Your Email"><br>
            <input type="password" name="password1" id="password1" placeholder="Password"><br>
            <input type="password" name="password2" id="password2" placeholder="Confirm Password"><br>
            <div style = "height: 1vw"></div>
            <input id="buttonID" type="Submit" value="Register">
            <a class="button_class noback" id="login" href="{% url 'story9app:login' %}">I already have an account</a>
        </form>
    </div>

    <div class = "messages">
        <p>
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
        </p>
    </div>
</body>
{% endblock %}