{% extends "story8/base.html" %}

{% block content %}
<body>

    <div class = "hi">
        <h1 name="hicolor">KNOWLEDGE</h1>
        <div id="hitransparent">
            <h1>WOW KNOWLEDGE</h1> 
        </div>
        <p>search for your KNOWLEDGE here</p>
    </div>

    <div style = "height: 2vw"></div>

    <div class = "row">
        <div style = "margin-left: 2vw"></div>
        <input type="text" id = "searchbox" placeholder=" Search here">
        <input type="submit" class="button" id = "submit" value = "Search"></button>
        <div style = "width: 2vw;"></div>
        <p style = "font-size: 1.1vw; color: #AAA">You can click on titles to go to Play Book links</p>
    </div>

    <div style = "height: 2vw"></div>

    <div style = "display: flex; flex-direction: row;">
        <table id = "book_container" style="width:100%">
        </table>
    </div>

</body>
{% endblock %}